Source: kancolletool
Section: x11
Priority: optional
Maintainer: Johannes Ekberg <uppfinnarn@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake (>= 2.8.12), qtbase5-dev (>= 5.2.0), libqt5webkit5 (>= 5.2.0)
Standards-Version: 3.9.3
Homepage: http://kancolletool.github.io/
Vcs-Git: git://github.com/KanColleTool/KanColleTool.git
Vcs-Browser: http://github.com/KanColleTool/KanColleTool/

Package: kancolletool
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, flashplugin-nonfree
Description: Makes KanColle better.
 KanColleTool provides tools useful for any aspiring admiral - viewing data the
 game itself doesn't show you, alerting you when a reparation or construction
 completes, and so on.
