# Hidden OS files
.DS_Store

# C++ and Qt Temporaries
*.o
moc_*.cpp
qrc_*.cpp
ui_*.h
*.pro.user
*.stash

# Node and node-webkit Temporaries
viewer/nw.pak

# Built Products
tool/Makefile
tool/KanColleTool.app
tool/KanColleTool.exe
tool/KanColleTool
viewer/kctviewer.app
viewer/kctviewer.exe
viewer/kctviewer
viewer/kctviewer.nw

