# CMake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages
install_manifest*.txt

# Hidden OS files
.DS_Store

# Editor Temporaries
*.sublime-workspace
*.swp
*.vcxproj
*.vcxproj.*
*.sln
*.suo
*.sdf
*.opensdf

# Build Temporaries
targets/archlinux/tool/*
targets/archlinux/viewer/*
!targets/archlinux/tool/PKGBUILD
!targets/archlinux/viewer/PKGBUILD

/build-*
/*-prefix/
/Win32
/dist
*.deb
*.tar.gz
*.dmg

Makefile
