# Hidden OS files
.DS_Store

# Editor Temporaries
*.sublime-workspace

# Build Temporaries
targets/archlinux/tool/*
targets/archlinux/viewer/*
!targets/archlinux/tool/PKGBUILD
!targets/archlinux/viewer/PKGBUILD

/build-*
/dist
