    #include <windows.h>
    #include "version.h"
    
    IDI_ICON1           ICON    DISCARDABLE "KCTViewer.ico"
     
    VS_VERSION_INFO     VERSIONINFO
    FILEVERSION         0, 6, 0, 0
    PRODUCTVERSION      0, 6, 0, 0
    FILEFLAGSMASK       0x3fL
    FILEFLAGS           0
    FILEOS              VOS_NT_WINDOWS32
    FILETYPE            VFT_APP
    FILESUBTYPE         VFT2_UNKNOWN
    BEGIN
        BLOCK   "VarFileInfo"
        BEGIN
            VALUE   "Translation",  0x409,  1200
        END
        BLOCK   "StringFileInfo"
        BEGIN
            BLOCK   "040904b0"
            BEGIN
                VALUE   "CompanyName",      "MacaroniCode\0"
                VALUE   "FileDescription",  "KCT Viewer\0"
                VALUE   "FileVersion",      KCT_VERSION "\0"
                VALUE   "InternalName",     "KCTViewer\0"
                VALUE   "LegalCopyright",   "Copyright 2014 by MacaroniCode\0"
                VALUE   "OriginalFilename", "KCTViewer.exe\0"
                VALUE   "ProductName",      "KCT Viewer\0"
                VALUE   "ProductVersion",   KCT_VERSION "\0"
            END
        END
    END
