Source: kancolletool-viewer
Section: x11
Priority: optional
Maintainer: Johannes Ekberg <uppfinnarn@gmail.com>
Build-Depends: debhelper (>= 8.0.0), qt5-qmake, libqt5webkit5-dev, qtdeclarative5-dev,
               libgstreamer-plugins-base0.10-dev, libxslt1-dev, libgio2.0-cil-dev,
               libgst-dev, libglib2.0-dev, libxml2-dev, libsqlite3-dev
Standards-Version: 3.9.3
Homepage: http://kancolletool.github.io/
Vcs-Git: git://github.com/KanColleTool/KanColleTool.git
Vcs-Browser: http://github.com/KanColleTool/KanColleTool/

Package: kancolletool-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: kancolletool
Description: Viewer/Launcher for Kantai Collection
 An accompanying viewer for KanColleTool. Launches the game in a controlled
 environment, and integrates just nicely with KanColleTool.
