[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=KanColleTool Viewer
Comment=A viewer for KanColle
Exec=/usr/bin/kancolletool-viewer
Icon=KCTViewer
Terminal=false
Categories=Game;
